body {
  padding: 0;
  margin: 0;
  background-color: gainsboro;
}

a {
  text-decoration: none;
}

h1,
h2 {
  text-align: center;
  color: darkgoldenrod;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#navbar {
  width: 100px;
  padding: 8px;
}

#banner {
  width: 100%;
}

#about {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  padding: 8px;
}

#description {
  width: 50%;
  padding-right: 8px;
}
#team {
  width: 50%;
}

#team-image {
  border-radius: 8px;
  width: 100%;
}

.location {
  color: blueviolet;
  margin-bottom: 16px;
}

h3 {
  margin-bottom: 2px;
  margin-top: 0;
}

#jobs {
  max-width: 800px;
  padding: 0 8px;
  margin: 0 auto;
}

.apply {
  float: right;
}

#footer {
  background-color: ghostwhite;
  padding: 8px;
  margin-top: 30px;
  text-align: center;
}

#footer-links {
  list-style: none;
  /* display: flex; */
}

#footer-links li {
  display: inline;
  margin: 0 8px;
}

#copyright {
  color: gray;
}
